<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&family=Poiret+One&display=swap" rel="stylesheet">
  <title>Galería | KÉRAMOS</title>
  <link rel="stylesheet" href="../css/estilos.css" />
</head>
<body>

 <!-- NAVBAR -->
    <header>
        <nav class="navbar">
            <a href="../indext.html" class="logo-link">
                <img src="../img/Kéramos.png" alt="Logo de KÉRAMOS" class="logo-img">
            </a>
        <h1 class="logo">KÉRAMOS</h1>
        <ul class="nav-links">
            <li><a href="../indext.html" >Inicio</a></li>
            <li><a href="../views/galeria.html" class="activo">Galería</a></li>
            <li><a href="../views/presupuesto.html">Presupuesto</a></li>
            <li><a href="../views/contacto.html">Contacto</a></li>
        </ul>
        </nav>
    </header>

  <h1>Galería Kéramos</h1>

  <!-- Botones -->
  <div class="botones">
    <button class="filtro-btn active" data-categoria="tazas">Tazas</button>
    <button class="filtro-btn" data-categoria="cuencos">Cuencos</button>
    <button class="filtro-btn" data-categoria="jarras">Jarras</button>
    <button class="filtro-btn" data-categoria="platos">Platos</button>
  </div>

    <!-- Galería por categoría -->
  <section class="categoria visible" data-categoria="tazas">
    <div class="galeria">
      <div class="card-scroll"><img src="../img/tazas/tazas1.jpeg"  width="736" height="915"  alt="Taza 1" /></div>
      <div class="card-scroll"><img src="../img/tazas/tazas2.jpg"  width="736" height="803"  alt="Taza 2" /></div>
      <div class="card-scroll"><img src="../img/tazas/tazas3.jpg"  width="736" height="920"  alt="Taza 3" /></div>
      <div class="card-scroll"><img src="../img/tazas/tazas4.jpeg"  width="736" height="920"  alt="Taza 4" /></div>
      <div class="card-scroll"><img src="../img/tazas/tazas5.jpg"  width="736" height="953"  alt="Taza 5" /></div>
      <div class="card-scroll"><img src="../img/tazas/tazas6.jpg"  width="540" height="720"  alt="Taza 6" /></div>
      <div class="card-scroll"><img src="../img/tazas/tazas7.jpg"  width="736" height="736" alt="Taza 7" /></div>
      <div class="card-scroll"><img src="../img/tazas/tazas8.jpg"  width="736" height="915" alt="Taza 8" /></div>
      <div class="card-scroll"><img src="../img/tazas/tazas1.jpeg" alt="Taza 9" /></div>
      <div class="card-scroll"><img src="../img/tazas/tazas1.jpeg" alt="Taza 10" /></div>
      <div class="card-scroll"><img src="../img/tazas/tazas1.jpeg" alt="Taza 11" /></div>
      <div class="card-scroll"><img src="../img/tazas/tazas1.jpeg" alt="Taza 12" /></div>
      <div class="card-scroll"><img src="../img/tazas/tazas1.jpeg" alt="Taza 13" /></div>
      <div class="card-scroll"><img src="../img/tazas/tazas1.jpeg" alt="Taza 14" /></div>
      <div class="card-scroll"><img src="../img/tazas/tazas1.jpeg" alt="Taza 15" /></div>
      <div class="card-scroll"><img src="../img/tazas/tazas1.jpeg" alt="Taza 16" /></div>
    </div>
  </section>


  <section class="categoria" data-categoria="cuencos">
    <div class="galeria">
      <div class="card-scroll"><img src="../img/cuencos/cuencos1.jpeg" width="736" height="981" alt="Cuenco 1" /></div>
      <div class="card-scroll"><img src="../img/cuencos/cuencos2.jpg" width="736" height="981" alt="Cuenco 2" /></div>
      <div class="card-scroll"><img src="../img/cuencos/cuencos3.jpg" width="736" height="981" alt="Cuenco 3" /></div>
      <div class="card-scroll"><img src="../img/cuencos/cuencos4.jpg" width="736" height="981" alt="Cuenco 4" /></div>
      <div class="card-scroll"><img src="../img/cuencos/cuencos5.jpg" width="736" height="736" alt="Cuenco 5" /></div>
      <div class="card-scroll"><img src="../img/cuencos/cuencos6.jpg" width="736" height="1104" alt="Cuenco 6" /></div>
      <div class="card-scroll"><img src="../img/cuencos/cuencos7.jpg"  width="736" height="981" alt="Cuenco 7" /></div>
      <div class="card-scroll"><img src="../img/cuencos/cuencos8.jpg" width="736" height="919" alt="Cuenco 8" /></div>
      <div class="card-scroll"><img src="../img/cuencos/cuencos1.jpeg" alt="Cuenco 9" /></div>
      <div class="card-scroll"><img src="../img/cuencos/cuencos1.jpeg" alt="Cuenco 10" /></div>
      <div class="card-scroll"><img src="../img/cuencos/cuencos1.jpeg" alt="Cuenco 11" /></div>
      <div class="card-scroll"><img src="../img/cuencos/cuencos1.jpeg" alt="Cuenco 12" /></div>
      <div class="card-scroll"><img src="../img/cuencos/cuencos1.jpeg" alt="Cuenco 13" /></div>
      <div class="card-scroll"><img src="../img/cuencos/cuencos1.jpeg" alt="Cuenco 14" /></div>
      <div class="card-scroll"><img src="../img/cuencos/cuencos1.jpeg" alt="Cuenco 15" /></div>
      <div class="card-scroll"><img src="../img/cuencos/cuencos1.jpeg" alt="Cuenco 16" /></div>
    </div>
  </section>


  <section class="categoria" data-categoria="jarras">
    <div class="galeria">
      <div class="card-scroll"><img src="../img/jarras/jarras1.jpg" alt="Jarra 1" /></div>
      <div class="card-scroll"><img src="../img/jarras/jarras2.jpg" alt="Jarra 2" /></div>
      <div class="card-scroll"><img src="../img/jarras/jarras3.jpg" alt="Jarra 3" /></div>
      <div class="card-scroll"><img src="../img/jarras/jarras4.jpg" alt="Jarra 4" /></div>
      <div class="card-scroll"><img src="../img/jarras/jarras5.jpg" alt="Jarra 5" /></div>
      <div class="card-scroll"><img src="../img/jarras/jarras6.jpeg" alt="Jarra 6" /></div>
      <div class="card-scroll"><img src="../img/jarras/jarras7.jpg" alt="Jarra 7" /></div>
      <div class="card-scroll"><img src="../img/jarras/jarras8.jpg" alt="Jarra 8" /></div>
      <div class="card-scroll"><img src="../img/jarras/jarras1.jpg" alt="Jarra 9" /></div>
      <div class="card-scroll"><img src="../img/jarras/jarras1.jpg" alt="Jarra 10" /></div>
      <div class="card-scroll"><img src="../img/jarras/jarras1.jpg" alt="Jarra 11" /></div>
      <div class="card-scroll"><img src="../img/jarras/jarras1.jpg" alt="Jarra 12" /></div>
      <div class="card-scroll"><img src="../img/jarras/jarras1.jpg" alt="Jarra 13" /></div>
      <div class="card-scroll"><img src="../img/jarras/jarras1.jpg" alt="Jarra 14" /></div>
      <div class="card-scroll"><img src="../img/jarras/jarras1.jpg" alt="Jarra 15" /></div>
      <div class="card-scroll"><img src="../img/jarras/jarras1.jpg" alt="Jarra 16" /></div>
    </div>
  </section>

  <section class="categoria" data-categoria="platos">
    <div class="galeria">
      <div class="card-scroll"><img src="../img/platos/platos1.jpg" alt="Plato 1" /></div>
      <div class="card-scroll"><img src="../img/platos/platos2.jpg" alt="Plato 2" /></div>
      <div class="card-scroll"><img src="../img/platos/platos3.jpg" alt="Plato 3" /></div>
      <div class="card-scroll"><img src="../img/platos/platos4.jpg" alt="Plato 4" /></div>
      <div class="card-scroll"><img src="../img/platos/platos1.jpg" alt="Plato 5" /></div>
      <div class="card-scroll"><img src="../img/platos/platos2.jpg" alt="Plato 6" /></div>
      <div class="card-scroll"><img src="../img/platos/platos3.jpg" alt="Plato 7" /></div>
      <div class="card-scroll"><img src="../img/platos/platos4.jpg" alt="Plato 8" /></div>
      <div class="card-scroll"><img src="../img/platos/platos1.jpg" alt="Plato 9" /></div>
      <div class="card-scroll"><img src="../img/platos/platos1.jpg" alt="Plato 10" /></div>
      <div class="card-scroll"><img src="../img/platos/platos1.jpg" alt="Plato 11" /></div>
      <div class="card-scroll"><img src="../img/platos/platos1.jpg" alt="Plato 12" /></div>
      <div class="card-scroll"><img src="../img/platos/platos1.jpg" alt="Plato 13" /></div>
      <div class="card-scroll"><img src="../img/platos/platos1.jpg" alt="Plato 14" /></div>
      <div class="card-scroll"><img src="../img/platos/platos1.jpg" alt="Plato 15" /></div>
      <div class="card-scroll"><img src="../img/platos/platos1.jpg" alt="Plato 16" /></div>
    </div>
  </section>

 <!-- FOOTER -->
    <footer>
        <p>&copy; 2022 Kéramos </p>
        <div class="social">
            <a href="https://facebook.com" target="_blank" >Facebook</a> | 
            <a href="https://instagram.com" target="_blank" >Instagram</a> | 
            <a href="https://linkedin.com" target="_blank" >LinkedIn</a>
        </div>
        <p><a href="#">Aviso legal</a></p>
    </footer>

  <script src="../js/galeria.js"></script>
</body>
</html>
